.mainImage{
    background-image: url("https://github.com/T-ReX603/DES222SI/blob/main/images/Header-RecStadium.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}